body {
  color: #FFFFFF;
}

h1 {
  color: #000000;
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
  text-shadow: 2px 2px #64a325;
}
.container {
    background-image: url("https://media1.tenor.com/images/81cde5efae2b59f0dc1c7f7621185616/tenor.gif?itemid=12438228");
    background-position: right;
    background-repeat: no-repeat;
    background-color: #000000;
  padding: 20px;

}


/* #btn {
  color: black;
  border: #79757f;
  background-color: #79757f;
} */

#showOrder {
  background-color: #64a325;
  font-size: 30px;
  font-weight: bold;
}

#notesToKitchen {
  color: red;
  font-size: 20px;
}
