body {
  background-image: linear-gradient(to right, #274147, #472d66);
}

h1 {
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}
.container {
  /* text-align: center; */
  background-color: #FFFFFF;
  padding: 20px;
}


/* #btn {
  color: black;
  border: #79757f;
  background-color: #79757f;
} */

#showOrder {
  background-color: #43757c;
  font-size: 30px;
  font-weight: bold;
}

#notesToKitchen {
  color: red;
  font-size: 20px;
}
